<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.model.user.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.blog.model.user.entity.Users">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified"/>
    </resultMap>

    <insert id="addUser" parameterType="com.blog.model.user.entity.Users">
        INSERT INTO users(user_id, username, password, email, created, last_modified)
        VALUES (null, #{username}, #{password}, #{email}, now(), now())
    </insert>
    <select id="findUserByUserName" resultMap="BaseResultMap">
        select user_id, username, password, email, created, last_modified
        from users
        where username = #{userName}
    </select>
    <select id="findUserByUserNameAndPassword" resultMap="BaseResultMap">
        select user_id, username, password, email, created, last_modified
        from users
        where username = #{userName}
          and password = #{password}
    </select>
    <select id="findUserByUserId" resultMap="BaseResultMap">
        select user_id, username, password, email, created, last_modified
        from users
        where user_id = #{userId}
    </select>

</mapper>